* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


.characters {

  width: 100%;
}

.chara {
  margin: 10px;
  float: left;
}

.characters img {
  width: 80%;
  padding: 20px;
}
  
