* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  background-color: rgba(0, 151, 155, 0.9);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  box-shadow:  0px 3px rgba(51, 31, 35, 0.5);
}

.header-logo {
  height: 100%;
  margin-left: 20px;
  padding-top: 20px;
  width: 130px;
}
.header-logo img {
  object-fit: cover;
  width: 130px;
}

.header-list {
  width: 250px;
  display: flex;
  position: absolute;
  top:5px;
  right:20px;
}

.header-list a {
  display: inline-block;
  color: white;
  padding: 18px 20px;
  font-size: 20px;
  text-align: center;
  height: 100%;
  border-left: 1px solid white;
  transition: all 1s;
}

.header-list a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}




.copy-content {
  background-size: cover;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  color: rgb(192, 54, 25);
  width: 100%;
  height: 500px;
  font-size: 40px;
  padding-top: 100px;
}


.container {
  max-width: 1170px;
  width: 100%;
  background-color: rgb(192, 54, 25);
  margin: 0 auto;
}

.title-text {
  color: rgb(235, 216, 128);
  font-size: 32px;
  padding-left:20px;

}


.characters {
  background-color: rgb(235, 216, 128); 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.chara-box {

  width: 25%;
  height: 420px;
  padding: 5px;
}

.chara {
  background-color: white;
  color: rgb(192, 54, 25);
  border-radius: 5px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.chara-icon {
  display: block;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.chara-icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chara a {
  display: block;
  margin-top: 10px;
  text-align:center;
  transition: all 1s;
  color: red;
}

.chara a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom:2px solid rgb(235, 216, 128);
  padding: 15px 0px;
  margin: 0 auto;
}

.scenario {
  font-size:16px;
  text-align: center;
}

.scenario span {
  font-size:10px;
  color:white;
  padding:0px 3px;
  border-radius:20px;
  background-color:rgb(0, 151, 155);
  margin-right:5px;
  text-align: center;
}
