* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  background-color: white;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  box-shadow:  0px 3px rgba(51, 31, 35, 0.5);
  float: left;
}

.header-logo {
  height: 100%;
  margin-left: 20px;
  padding-top: 20px;
}

.header-list ul {
  display: flex;
}

.header-list li {
  color: black;
  padding: 20px 20px;
  list-style: none;
}




.copy-content {
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 1170px;
  height: 500px;
  font-size: 40px;
  padding-top: 100px;
  background-img: url(https://github.com/user-attachments/assets/119d4828-9488-43af-92dc-c4e94fe26eea);
  background-size: cover;
}


.container {
  width: 1170px;
  background-color: rgb(108, 39, 53);
  margin: 0 auto;
  padding: 20px 10px;
}

.title-text {
  color: white;
  border-bottom: 2px solid white;
  padding-left:20px;

}


.characters {
  background-color: rgb(107, 64, 73); 
  padding: 20px;
  margin: 20px;
  height: 1170px;
  display: flex;
  flex-wrap: wrap;
}

.chara-box {

  width: 25%;
  height:430px;
  padding: 5px;
}

.chara {
  background-color: white;
  border-radius: 5px;
  display: column;
  height: 90%;
}

.chara img {
  display: block;
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.chara a {
  display: block;
  width: 100%;
  padding: 10px;
  text-align:center;
  margin-top: 20px;
  transition: all 1s;
}

.chara a:hover {
  background-color: rgba(108, 39, 53, 0.5);
  border-radius: 10px;
}

.name {
  text-align: center;
  font-size: 20px;
  margin: 0px;
}

